<h1>Change password</h1>
<form [formGroup]="changePasswordGroup" (ngSubmit)="submit()">
    <mat-form-field>
        <input matInput type="password" placeholder="Old password" formControlName="oldPassword"> 
        <mat-error>Old password is required.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="New password" formControlName="newPassword">
        <mat-error>New password must be at least 5 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Repeat new password" formControlName="newPasswordRepeat">
        <mat-error>Repeat new password.</mat-error>
    </mat-form-field>

    <button mat-button type="submit">Submit</button>
</form>