<form [formGroup]="registerGroup" (ngSubmit)="register()">
    <h1>Register</h1>

    <mat-form-field>
        <input matInput type="text" placeholder="username" formControlName="username">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="email" placeholder="email" formControlName="email">
    </mat-form-field>
    
    <button mat-button type="submit">Register</button>

    <p class="text">Already have account?</p>
    <button mat-button (click)="changeWindow()">Login</button>
</form>