<h1>Register</h1>
<form [formGroup]="registerGroup" (ngSubmit)="register()">

    <mat-form-field>
        <input matInput type="text" placeholder="username" formControlName="username">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="email" placeholder="email" formControlName="email">
    </mat-form-field>
    
    <button mat-button type="submit">Register</button>

    <a (click)="changeWindow()">Already have account? Login</a>
  
</form>