mat-form-field {
    display: block;
}

a {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

form {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}