<mat-toolbar>
    <button mat-button routerLink="/home"> Redut
    </button>
    <span class="expand"></span>
    <mat-form-field class="fixed-input" appearance="outline">
        <input matInput #searchInput placeholder="Search" (keyup.enter)="search(searchInput)">
    </mat-form-field>
    <span class="expand"></span>
    <div *ngIf="userService.loggedInUser == undefined">
        <button mat-button (click)="openLoginDialog()">Login</button>
        <button mat-button (click)="openRegisterDialog()">Register</button>
    </div>
    <div *ngIf="userService.loggedInUser != undefined">
        <button mat-button [matMenuTriggerFor]="menu">Profile</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item >Edit profile</button>
            <button mat-menu-item (click)="createCommunityDialog()">Create community</button>
            <button mat-button (click)="logOutUser()" color="warn">Logout</button>
        </mat-menu>
    </div>
  </mat-toolbar>
  