<mat-toolbar>
    <button mat-button routerLink="/home"> Redut
    </button>
    <span class="expand"></span>
    <mat-form-field class="fixed-input" appearance="outline">
        <input matInput #searchInput placeholder="Search" (keyup.enter)="search(searchInput.value, select.value)">
    </mat-form-field>
    <mat-form-field class="fixed-select" appearance="outline">
        <mat-label>Choose one</mat-label>
        <mat-select #select value="community" (selectionChange)="search(searchInput.value, select.value)">
            <mat-option value="community">Zajednice</mat-option>
            <mat-option value="post">Objave</mat-option>
        </mat-select>
    </mat-form-field>
    <span class="expand"></span>
    <div *ngIf="userService.loggedInUser == undefined">
        <button mat-button (click)="openLoginDialog()">Login</button>
        <button mat-button (click)="openRegisterDialog()">Register</button>
    </div>
    <div *ngIf="userService.loggedInUser != undefined">
        <button mat-button [matMenuTriggerFor]="menu">Profile</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="viewProfilePage()">View profile</button>
            <button mat-menu-item (click)="createCommunityDialog()">Create community</button>
            <button mat-menu-item id="logOut" (click)="logOutUser()" >Logout</button>
        </mat-menu>
    </div>
  </mat-toolbar>
  