mat-toolbar {
    height: 80px;
    display: flex;
    background-color: rgb(165, 165, 165);
}

.fixed-input {
    width: 30%;
}

.fixed-select {
    margin-top: -5px;
    height: 100%;
    width: 200px;
}

input {
    font-size: 12pt;
}

.expand {
    flex-grow: 1;
}

::ng-deep .fixed-input .mat-form-field-wrapper {
    background: white;
    border-radius: 5px;
}

#logOut {
    color: red;
}

