mat-card {
    width: 80%;
    margin: 1rem auto;
}

mat-card-actions {
    display: flex;
}

mat-card-title {
    display: flex;
}

mat-card-title p {
    margin: auto 0;
}

.counter {
    margin-top: 12px;
}

span {
    flex-grow: 1;
}
