<mat-card>
    <mat-card-title>{{data.title}}</mat-card-title>
    <mat-card-content>{{data.text}}</mat-card-content>
    <mat-card-actions>
        <button mat-icon-button><mat-icon>keyboard_arrow_up</mat-icon></button>
        <p class="counter">{{data.counter != null ? data.counter : 0}}</p>
        <button mat-icon-button><mat-icon>keyboard_arrow_down</mat-icon></button>
        <span></span>
        <button mat-button>Comments</button>
        <button mat-button>Report</button>
    </mat-card-actions>
</mat-card>