<div class="banner">
    <img src="assets/papers.co-vd93-shining-aqua-white-abstract-art-pattern-35-3840x2160-4k-wallpaper.jpg">
    <div class="text">
        <h1>
            {{communityName}}
            <button mat-icon-button [matMenuTriggerFor]="menu"
                *ngIf="communityData?.moderators?.includes(userService.loggedInUser != undefined ? userService.loggedInUser.id : -1)">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editCommunity()">Edit</button>
                <button mat-menu-item>Delete</button>
            </mat-menu>
        </h1>
        <p>{{communityData?.description}}</p>
    </div>
</div>
<app-post-sorter></app-post-sorter>
<app-post-creator *ngIf="communityData != undefined && userService.loggedInUser != undefined"
    [communityId]="communityData.id" (onPostCreation)="loadPosts()"></app-post-creator>
<app-post *ngFor="let post of posts" [data]="post" (onPostChanged)="loadPosts()"></app-post>